* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Poboto, sans-serif;

    /*color: #5d5d5d;*/
}

a {
    color: #00e0d0;
}

p {
    margin: 0 0 0;
}

.wrapper {
    margin: 0 auto;
    max-width: 1600px;
    text-align: center;
}

.header {
    /*padding-right: 15px;*/
    /*padding-left: 15px;*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    /*padding: 0 20% 0 20%;*/
    /*box-sizing: border-box;*/
    /*position:relative;*/
    /*width:100%;
    /*margin: 0px auto ;*/

    /*height:auto !important;*/
    /*height:100%;*/
    /*min-height:100%;*/
}
.headerBlock {
    /*background-color: #2d274d;*/
    width: 100%;
    height: auto;
    opacity: 0.85;
    position: fixed;
    z-index: 10;
    display: flex;
}
.headerBlock__logo {
    /*margin: 0 10%;*/
    margin-left: 10%;
}
.headerBlock__logo img {
    width: 100%;
    height: auto;
}
.headerBlockMenu ul {
    /*margin-right: 10%;*/
    list-style: none;
    text-transform: uppercase;
    display: flex;
}
.headerBlockMenu__item {
    padding: 10px;
    font-size: 14px;
    justify-content: center;
    margin: 5% 0;
    text-decoration: none;
}

.headerBlockMenu__item a {
    color: #fff;
    text-decoration: none;
}
.headerBlockMenu__item-active a {
    color: #00e0d0;
}
.headerBlockMenu__item a:hover {
    color: #00e0d0;
}
.headerBlockSlider {
    background: url(../img/headerBackground.jpg) no-repeat 100% 100%;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.85;
    padding: 10% 15%;
}
.headerBlockSlider h5, h2, p {
    color: #fff;
    width: 100%;
}
.headerBlockSlider h2 {
    font-family: Playfair Display;
   padding: 10% 0 0 0;
    justify-content: center;
}
.headerBlockSlider__line {
    height: 1px;
    width: 127px;
    margin: 20px auto;
    background: #00e0d0;
}
/*.headerBlockSlider p {*/
    /*height: 1px;*/
    /*color: #00e0d0;*/
    /*width: 30px;*/
    /*padding: 2%;*/
/*}*/

.headerBlockSlider h5 {
    padding: 0 10%;
    justify-content: center;
    font-weight: normal;
}
.headerBlockSlider .button {
    width: 100%;
    display: block;
    text-transform: uppercase;
    border: 1px solid #00e0d0;
    text-decoration: none;
    padding: 10px 15px;
    margin: 25% 0 90% 0;
    box-sizing: border-box;


}
.button:hover {
    background-color: #00e0d0;
    color: #fff;
    transition-duration: 0.5s
}
.headerBlockSlider__circles {
    padding: 5%;
    margin-bottom: 20%;
}

.headerBlockSlider__circles {
    color: #fff;
}
.headerBlockSlider__circles-active {
    color: #00e0d0;
}
.headerBlockSlider__circles:hover {
    color: #00e0d0;
    /*background: #00e0d0;*/
}